<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
</head>
<body>
Buongiorno,<br/><br/>
di seguito i dati per accedere alla piattaforma di sottomissione dei time report:<br/><br/><br/>
<b>Username:</b> <span th:text="${userInfo.username}"></span> <br/>
<b>Password:</b> <span th:text="${userInfo.password}"></span> <br/><br/><br/>
Si consiglia di cambiare la password dopo il primo accesso.<br/><br/><br/>
Grazie della collaborazione.

</body>
</html>